<nav class="col-span-2 row-start-1 bg-[#191f22] border-b-2 border-orange-500">
    <div class="flex flex-row items-center gap-2 p-4 mx-auto">
        <svg id="mobileMenuButton" xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="orange" class="bi bi-list block md:hidden hover:cursor-pointer" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        <img src="https://beta.shoshin.moe/static/assets/shoshinlogo.png" alt="wuwa" class="w-44 h-auto ml-auto md:ml-4"/>
    </div>
</nav>