# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl
*.swp

# HTML
*.html~
*.htm~

# JavaScript
node_modules/
static/js

# CSS
*.css.map
*.css

# Environment files
.env

# Dangerous files
*.exe
*.dll
*.so
*.dylib
*.bat
*.sh
*.cmd
*.com
*.jar
*.class
*.ps1
*.vbs
*.vb
*.c
*.cpp
*.h
*.hpp
*.java
*.php
*.pl
*.rb
*.lua
*.sql
*.db
*.sqlite
*.mdb
*.bak
*.zip
*.rar
*.tar
*.gz
*.7z
*.bin
*.iso
*.img
*.dmg
*.apk
*.ipa
*.app
*.dll
*.sys
*.cfg
*.ini
*.conf
*.log
*.tmp
*.temp
*.swp
*.bak
*.old
*.backup
*.sock