@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'H7GBKHeavy.TTF';
    src: url('../fonts/H7GBKHeavy.TTF') format('truetype');
}

@font-face {
    font-family: 'Source Han Sans CN Regular';
    src: url('../fonts/Source Han Sans CN Regular.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.sans-it {
  font-family: 'Source Han Sans CN Regular', sans-serif;
}

:root {
  --light-bg-color: #FAF9F6; /* Light mode background color */
  --dark-bg-color: #36454F; /* Dark mode background color */
  --bg-image-light: url('../wallpapers/light.png');
  --bg-image-dark: url('../wallpapers/dark.png');
  --input-glow-color: 0 0 28px rgba(221, 219, 219, 1.5);
  --input-dark-color: 0 0 28px rgba(0, 0, 0, 1.5);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  display: inline-block;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

body {
  background-color: var(--light-bg-color); /* Default to light mode */
  transition: background-color 0.3s ease; /* Smooth transition for color change */
  font-family: 'H7GBKHeavy.TTF', sans-serif;
  overflow-x: hidden;
}

body.dark {
  background-color: var(--dark-bg-color); /* Switch to dark mode */
  --input-glow-color: 0 0 28px rgba(255, 255, 255, 1.5);
}

body.basic-font {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}


.bg-fade-bottom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%; /* Cover the entire height to ensure a smooth transition */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, var(--light-bg-color) 100%);
  z-index: 1;
}

body.dark .bg-fade-bottom::after {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, var(--dark-bg-color) 100%), url('../wallpapers/dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.input-glow {
  box-shadow: var(--input-glow-color);
}

.input-glow-dark {
  box-shadow: var(--input-dark-color);
}

#selectionIndicator {
  transition: left 0.5s ease, top 0.5s ease; /* Adjust time as needed */
}

.button-hover-effect {
  background: linear-gradient(to right, #3b82f6 50%, #1d4ed8 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 2s;
}
.button-hover-effect:hover {
  background-position: right bottom;
}

#googleSignInButton {
  display: flex;
  justify-content: center;
}

.glow {
  box-shadow: 0 0 28px rgb(201, 235, 10, 1);
}

.pop-glow {
  box-shadow: 0 0 28px rgba(255, 255, 255, 0.3);
}

.glow-lock {
  box-shadow: 0 0 28px rgb(235, 25, 10);
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A3439;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease-out;
}

.loading-indicator {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #e6941a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-out {
  opacity: 0;
}

.selected {
  border: 3px solid #f97316;
}