<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="theme-color" content="#ffffff"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Wuthering Waves Build | Generate Image</title>
    <meta name="description" content="Generate and share your Wuthering Waves character build easily and faster."/>
    <meta name="keywords" content="Wuthering Waves, character build, generator, image"/>
    <meta name="author" content="seizoux" />
    <meta name='og:title' content='WuWa Build | Generate an image to be shared with your friends and flex your build like never before!'>
    <meta name='og:url' content='https://shoshin.moe/en'>
    <meta name='og:image' content='https://beta.shoshin.moe/static/assets/favicon_wuwa.png'>
    <meta name='og:site_name' content='shoshin.moe'>
    <meta name='og:description' content='Retreive a character build from your account by your UID, let the tricky-sneaky stuff in the background generate a cool image with the data and share it with your friends!'>
    <meta property="og:image" content="https://beta.shoshin.moe/static/assets/favicon_wuwa.png"/>
    <meta name='language' content='EN'>
    <meta name='url' content='https://www.shoshin.moe/en'>
    <link rel="icon" href="../static/assets/favicon_wuwa.png"/>
    <link rel="stylesheet" href="../static/css/output.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8777260208114937" crossorigin="anonymous"></script>
    <script>
        // Function to toggle dark mode and switch icons
        function toggleDarkMode() {
            document.body.classList.toggle("dark");
            const icon = document.getElementById("themeIcon");
            if (document.body.classList.contains("dark")) {
                icon.innerHTML = `<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"/></svg>`; // Moon icon for dark mode
            } else {
                icon.innerHTML = `<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/></svg>`; // Sun icon for light mode
            }
        }
    </script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-44JD26YV2G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-44JD26YV2G');
</script>
<body class="flex flex-col items-center min-h-screen bg-off-white dark:bg-night-dark">
    <!-- Wrapper for navbar and content with background image -->
    <div class="relative w-screen bg-cover bg-center bg-fade-bottom" style="background-image: url('../static/wallpapers/light.png'); height: 65vh;">
        <!-- Opaque layer div -->
        <div class="absolute inset-0 bg-black bg-opacity-50 z-0"></div>
        <!-- Navbar -->
        <nav class="fixed top-0 w-full px-4 py-4 z-10 bg-transparent">
            <div class="max-w-7xl mx-auto flex justify-between items-center">
                <div class="flex flex-row items-center">
                    <img src="https://beta.shoshin.moe/static/assets/favicon.png" class="w-10 h-10 mr-2">
                    <a href="#" class="text-md md:text-xl font-bold bg-clip-text text-transparent italic bg-gradient-to-r from-black to-yellow-600 dark:from-white dark:to-purple-600">
                        SHOSHIN.MOE
                    </a>
                </div>
                <button onclick="toggleDarkMode()" class="bg-gray-200 dark:bg-gray-600 p-2 rounded-full">
                    <div id="themeIcon" class="text-gray-800 dark:text-gray-200">
                        <!-- Sun icon by default -->
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"></path>
                        </svg>
                    </div>
                </button>
            </div>
        </nav>
        <!-- Content directly after navbar -->
        <div class="flex flex-col gap-4">
            <div class="max-w-6xl mx-auto mt-32 p-2 md:p-0">
                <h1 class="text-xl md:text-6xl font-bold bg-clip-text text-white break-words z-20 relative leading-normal">
                    Generate & share your Wuthering Waves character build.<br />Easily. Faster.
                </h1>
            </div>
            <div class="max-w-6xl mx-auto mt-4 p-2 md:p-0">
                <p class="text-base md:text-2xl text-white dark:text-gray-200 z-20 relative font-light leading-relaxed">
                    Retreive informations about the resonator you want from your account, and share the generated build image.
                </p>
            </div>
        </div>
        <div class="relative mx-auto mt-16 z-30 flex justify-center w-full group">
            <div class="w-full flex flex-col items-center p-2 md:p-0"> <!-- Adjusted for centering -->
                <div class="flex flex-col gap-4 items-center"> <!-- Ensure items are centered -->
                    <div class="flex flex-col md:flex-row mx-auto md:mx-0 justify-center md:justify-none gap-4">
                        <div class="relative flex items-center">
                            <!-- Input field wrapper to capture clicks if needed -->
                            <div class="relative">
                                <input type="text" id="uidInput" placeholder="Paste your UID~" class="cursor-not-allowed p-4 pl-10 pr-4 rounded-md bg-off-white/50 placeholder-black dark:placeholder-white text-black dark:text-white border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 input-glow w-full" disabled>
                                <div class="absolute inset-y-0 right-2 left-2 flex items-center pointer-events-none">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                            </div>
                            <span id="tooltip" class="opacity-0 invisible transition-opacity duration-300 absolute -mt-28 ml-[-50%] bg-black text-white text-xs rounded py-1 px-4 right-1/2 transform translate-x-1/2">
                                This is currently unavailable, please use the manual upload function.
                                <span class="absolute top-full left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-0 h-0 border-x-transparent border-x-8 border-t-8 border-t-black"></span>
                            </span>
                        </div>
                        <div class="relative flex items-center">
                            <!-- Upload Button -->
                            <div id="fileDiv" class="relative">
                                <label class="cursor-pointer p-4 pl-10 pr-4 rounded-md bg-off-white/50 hover:bg-off-white placeholder-black dark:placeholder-white text-black dark:text-white border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 input-glow w-full">
                                    Upload Files
                                    <input type="file" class="hidden" id="fileUpload" multiple @change="handleFileUpload">
                                </label>
                                <div class="absolute inset-y-0 right-2 left-2 flex items-center pointer-events-none">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v9m-5 0H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2M8 9l4-5 4 5m1 8h.01"/>
                                    </svg>
                                </div>
                            </div>
                            <span id="tooltipFile" class="opacity-0 invisible transition-opacity duration-300 absolute -mt-36 ml-[-50%] bg-black text-white text-xs rounded py-1 px-4 right-1/2 transform translate-x-1/2">
                                The screenshots must be full-screen. See 
                                <a href="https://www.patreon.com/posts/shoshin-moe-106816433?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=postshare_creator&utm_content=join_link" class="text-blue-500 hover:text-blue-600 hover:underline hover:decoration-blue-600">
                                    this tutorial
                                </a>
                                to learn how to use it.
                                <span class="absolute top-full left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-0 h-0 border-x-transparent border-x-8 border-t-8 border-t-black"></span>
                            </span>
                        </div>
                    </div>
                    <!-- Tips for the current step -->
                    <div id="stepTip" class="flex justify-center mt-4">
                        <!-- Text will be added here dynamically -->
                    </div>
                    <!-- Placeholders for Uploaded Files -->
                    <div id="filePlaceholders" class="flex justify-center mt-4 gap-8">
                        <!-- Placeholder boxes will be added here dynamically -->
                    </div>
                </div>
            </div>
        </div>
        <div class="relative grid grid-cols-1 gap-4 mt-32 mx-auto z-30 w-full p-2 md:w-1/2 md:p-0 justify-center">
            <div class="relative w-full md:w-auto p-2 md:p-4 rounded-md bg-off-white/50 text-black dark:text-white shadow-lg shadow-night-dark/50 dark:shadow-off-white/50 outline-double outline-4 outline-night-dark dark:outline-off-white">
                <img src="https://beta.shoshin.moe/static/emojis/selected.gif" id="selectionIndicator" class="absolute top-0 mt-6 transition-transform duration-500 w-12 h-auto" style="transform: translateX(0%);">
                <div class="flex items-center pt-8">
                    <div class="w-1/5 h-px bg-gray-300"></div>
                    <button class="menu-btn px-1 md:px-4 py-2">News</button>
                    <div class="w-1/5 h-px bg-gray-300"></div>
                    <button class="menu-btn px-1 md:px-4 py-2">Patreon</button>
                    <div class="w-1/5 h-px bg-gray-300"></div>
                    <button class="menu-btn px-1 md:px-4 py-2">Discord</button>
                    <div class="w-1/5 h-px bg-gray-300"></div>
                    <button class="menu-btn px-1 md:px-4 py-2">Business</button>
                    <div class="w-1/5 h-px bg-gray-300"></div>
                </div>
            </div>
            <div id="news-tab" class="p-4 rounded-md bg-off-white/50 dark:bg-night-dark-alt/50 input-glow-dark shadow-night-dark w-full mb-8 sans-it">
            {% for news in news_entry %}
            <div class="flex flex-col gap-4 p-2">
                <div class="flex flex-row items-center">
                    <img src="{{ news.author_image_url }}" class="w-7 h-7 rounded-full" alt="Author image">
                    <div class="flex items-center divide-x-2 divide-gray-400 px-4">
                        <span class="text-night-dark/50 dark:text-off-white/50 text-sm font-light">{{ news.author }}</span>
                        <!-- Change id to class and add data-date attribute -->
                        <span class="dateElement text-night-dark/50 dark:text-off-white/50 text-sm font-light ml-2 pl-2" data-date="{{ news.date }}">{{ news.date }}</span>
                    </div>
                </div>
                <h1 class="text-black dark:text-white text-2xl font-bold">{{ news.title }}</h1>
                <p class="news-content-u text-black dark:text-white text-md font-normal text-wrap unique-news-content">{{ news.content }}</p>
                <div class="flex flex-row gap-4">
                {% for text in news.footer %}
                    <div class="link-container flex flex-row items-center" data-social="{{ text }}">{{ text }}</div>
                {% endfor %}
                </div>
            </div>
            <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700 mb-8">
            {% endfor %}
            </div>
            <div id="patreon-tab" class="p-4 rounded-md bg-off-white/50 dark:bg-night-dark-alt/50 input-glow-dark shadow-night-dark w-full mb-8 sans-it flex hidden">
                <!-- Sidebar -->
                <div class="flex flex-col gap-4 w-1/3 md:w-1/5">
                    <div>
                        <div class="flex justify-center items-center">
                            <div class="flex flex-row gap-2">
                                <img src="https://beta.shoshin.moe/static/assets/patreon.png" class="w-8 h-auto" alt="Patreon logo">
                                <h1 class="text-md md:text-xl font-bold mx-auto text-black dark:text-white">PATREON TIERS</h1>
                            </div>
                        </div>
                        <hr class="h-px bg-gray-600 border-0 dark:bg-gray-300 mt-4 mb-4">
                        <ul class="space-y-4">
                            <li><a href="#" id="menu-legacy" class="block p-2 text-black dark:text-white font-semibold text-lg transition duration-100 hover:bg-red-500/75 rounded-md">Legacy</a></li>
                            <li><a href="#" id="menu-tier-1" class="block p-2 text-black dark:text-white font-semibold text-lg transition duration-100 hover:bg-red-500/75 rounded-md">Tier 1</a></li>
                            <li><a href="#" id="menu-tier-2" class="block p-2 text-black dark:text-white font-semibold text-lg transition duration-100 hover:bg-red-500/75 rounded-md">Tier 2</a></li>
                            <li><a href="#" id="menu-tier-3" class="block p-2 text-black dark:text-white font-semibold text-lg transition duration-100 hover:bg-red-500/75 rounded-md">Tier 3</a></li>
                        </ul>
                    </div>
                    <hr class="h-px bg-gray-600 border-0 dark:bg-gray-300 mt-4 mb-4">
                    <p class="text-xs text-gray-600 dark:text-gray-400 font-light">
                        Thanks to everyone who subscribed to my Patreon. Your support means a lot to me and it helps me keep my projects running smoothly.
                        <br>
                        <br>
                        If you're interested in becoming a Patron, you can subscribe clicking <a href="https://patreon.com/zoux" class="text-blue-500 hover:text-blue-600 hover:underline hover:decoration-blue-600">here</a>, every bit of support is greatly appreciated!
                        <br>
                        <br>
                        <span class="font-semibold">Note:</span> The tiers are subject to change, so make sure to check the Patreon page for the most up-to-date information.
                    </p>
                </div>
                <!-- Content -->
                <div class="w-4/5 ml-4">
                    <div id="currentSelDiv" class="flex flex-row">
                        <h1 class="text-xl font-bold text-black dark:text-white"><a id='currentSel' class='text-red-500 font-bold text-2xl'></a> MEMBERS</h1>
                    </div>
                    <div id="legacy" class="grid grid-cols-3 gap-4 mb-8 mx-auto"></div>
                    <div id="tier-1" class="grid grid-cols-3 gap-4 mb-8 hidden"></div>
                    <div id="tier-2" class="grid grid-cols-3 gap-4 mb-8 hidden"></div>
                    <div id="tier-3" class="grid grid-cols-3 gap-4 mb-8 hidden"></div>
                </div>
            </div>
            <div id="discord-tab" class="hidden p-4 rounded-md bg-off-white/50 dark:bg-night-dark-alt/50 input-glow-dark shadow-night-dark w-full mb-8 sans-it">
                <div class="flex flex-row items-center p-2 mb-2">
                    <img src="https://cdn.discordapp.com/avatars/144126010642792449/b3ba1d592f6b198dac71f2de2d655fdc.png?size=1024" class="w-7 h-7 rounded-full" alt="Author image">
                    <div class="flex items-center divide-x-2 divide-gray-400 px-4">
                        <span class="text-night-dark/50 dark:text-off-white/50 text-sm font-light">seizou</span>
                        <!-- Change id to class and add data-date attribute -->
                        <span class="dateElement text-night-dark/50 dark:text-off-white/50 text-sm font-light ml-2 pl-2" data-date="2024-06-19 10:33:11.050731">Wednesday, June 19, 2024 at 10:33:11 AM</span>
                    </div>
                </div>
                <p class="text-black dark:text-white text-md font-normal text-wrap p-2">
                    # Discord Community////
                    > This is the Discord Community for [Shoshin.moe](https://shoshin.moe).////
                    If you have any questions, suggestions, or just want to hang out, feel free to join, we're a friendly bunch!////
                    ## What's the purpose?//
                    The Discord server is a place for users to interact, share ideas, and engage with the community. It serves as a hub for discussions, announcements, and support related to the projects and content hosted on [Shoshin.moe](https://shoshin.moe). The server provides a platform for users to connect, collaborate, and contribute to the growth and development of the community.////
                    ## How to join?//
                    To join the Discord server, simply click on the link below and follow the instructions to become a part of the community. We look forward to welcoming you aboard!////
                </p>
                <a href="https://discord.com/invite/geJcCh52mx" target="_blank" rel="noopener noreferrer" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Join Discord</a>
                <widgetbot server="1247929775066976339" channel="1247929775066976342" height="600" class='w-full mt-4'></widgetbot>
            </div>
            <div id="business-tab" class="hidden p-4 rounded-md bg-off-white/50 dark:bg-night-dark-alt/50 input-glow-dark shadow-night-dark w-full mb-8 sans-it">
                <div class="flex flex-row items-center p-2 mb-2">
                    <img src="https://cdn.discordapp.com/avatars/144126010642792449/b3ba1d592f6b198dac71f2de2d655fdc.png?size=1024" class="w-7 h-7 rounded-full" alt="Author image">
                    <div class="flex items center divide-x-2 divide-gray-400 px-4">
                        <span class="text-night-dark/50 dark:text-off-white/50 text-sm font-light">seizou</span>
                        <!-- Change id to class and add data-date attribute -->
                        <span class="dateElement text-night-dark/50 dark:text-off-white/50 text-sm font-light ml-2 pl-2" data-date="2024-06-19 10:33:11.050731">Wednesday, June 19, 2024 at 10:33:11 AM</span>
                    </div>
                </div>
                <p class="text-black dark:text-white text-md font-normal text-wrap p-2">
                    # Business Inquiries////
                    > For business inquiries, collaborations, or other professional matters, please reach out to us via the contact information provided below.////
                    ## Contact Information//
                    **Email:** helpdesk@shoshin.moe////
                    ## Services Offered//
                    We're (i'm) open to any type of collaboration regarding gacha games. If you have a project in mind, a partnership, or just want to chat about the industry, feel free to contact me. I'm always looking for new opportunities and exciting ventures to explore.////
                    ## Availability//
                    We're (i'm) available from Monday to Friday, 9:00 AM - 1:00 PM **OR** 3:00 PM - 9:00 PM (UTC+1), according to what shift i need to attend to that day. If you have any urgent inquiries or require immediate assistance, please don't hesitate to contact via email. I strive to respond promptly and provide the best possible service to everyone.
                </p>
            </div>
        </div>
        <div class="flex flex-col gap-2 items-center justify-center p-2">
            <p class="text-xs text-gray-400 dark:text-white font-light text-center mt-4">
                This project is not affiliated with Wuthering Waves or Kuro Games.
            <p class="text-xs text-gray-400 dark:text-white font-light text-center mt-2">
                © 2024 Shoshin. All rights reserved.
            </p>
        </div>
    </div>
    <!-- Loading Tailwind CSS Needed Classes Dynamically -->
    <div class="font-bold"></div>
    <div class="italic"></div>
    <div class="underline underline-offset-2"></div>
    <div class="bg-gray-600 text-white p-1 rounded-md hidden"></div>
    <div class="text-blue-500 hover:text-blue-600 hidden"></div>
    <div class="text-3xl"></div>
    <div class="text-2xl text-yellow-500 text-blue-500 text-red-500"></div>
    <div class="text-xl inline"></div>
    <div class="opacity-100 w-24 h-24 border-dashed border-gray-300 object-cover hidden"></div>
    <div class="bg-black text-transparent hover:text-white cursor-pointer hidden flex-wrap max-w-full max-h-full w-48 h-24"></div>
    <div class="hidden p-2 justify-center items-center w-32 h-32 border-2 border-dashed border-gray-300 rounded-lg"></div>
    <div class="pl-4 border-l-4 border-gray-500 italic hidden bg-night-dark bg-night-dark/50"></div>
    <div class="hidden w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-red-600 w-1/2 inline-block relative"></div>
    <div class="hidden bg-red-500/75 absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-50 flex justify-center items-center gap-2 opacity-0 group-hover:opacity-100 cursor-pointer px-10 py-4 rounded-md bg-white bg-opacity-50 hover:bg-opacity-70 text-black focus:outline-none focus:ring-2 focus:ring-blue-500"></div>
    <div class='hidden bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded bg-red-500 hover:bg-red-700'></div>
    <script src="../static/js/gen.js" type="text/javascript"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.dateElement').forEach(element => {
                var dateString = element.getAttribute('data-date');
                element.textContent = formatHumanReadableDate(dateString);
            });
        });

        document.querySelectorAll('.link-container').forEach(container => {
            const text = container.textContent;
            const match = text.match(/\[([^\]]+)\]\((https?:\/\/[^\)]+)\)/);
            if (match) {
                const label = match[1];
                const url = match[2];
                container.innerHTML = `<a href="${url}" class="text-blue-500 hover:text-blue-600 hover:underline hover:cursor-pointer text-xs font-normal text-wrap">${label}</a>`;
            }
        });
    </script>
</body>
</html>